h1 {
	color: #0000ff;
	text-align: center;
}
h2 {
	font: bold sans-serif 14px;
	text-align: center;
}
p {
	text-indent: 1cm;
	font: 12px fantasy;
	color: #ffff00;
	background-color: #000000;
}
img {
	border: solid 2px #ff0000;
	margin: 0px auto;
}
ul li {
	display: inline;
}
span {
	text-decoration: line-through;
}